[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
meteostat = "*"
aiohttp = "*"
paho-mqtt = "*"
pyinstaller = "*"
requests = "*"
cryptography = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
